{% extends 'base.html' %}

  <script>
  </script>

  {% block content %}
<h1 class="ui header">
  <i class="sitemap alternate icon"></i>
  <div class="content">
    IP Addresses
    <div class="sub header">List of unique IPs interacting with the honeypot</div>
  </div>
</h1>

<table id="ipTable" class="ui celled compact table" style="margin-top: 1em;">
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Last Seen</th>
      <th>Sessions</th>
      <th>URLs</th>
      <th>Files</th>
      <th class="">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for summary in ip_summaries %}
    <tr>
      <td>
        <a href="/ip/{{ip}}"><strong>{{ip}}</strong></a>
      </td>
      <td>
        {{summary.last_updated}}
      </td>
      <td>
        {{summary.session_count}}
      </td>
      <td>
        {{summary.url_count}}
      </td>
      <td>
        {{summary.files_count}}
      </td>
      <td class="">
        <a href="/ip/{{ip}}" class="ui tiny basic button">View</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
$( document ).ready(function() {
    const ipt = new DataTable("#ipTable");
});
</script>
{% endblock %}

